<template>
  <div>
    <router-link to="/">Back</router-link>
    <div>
      {{ message }}
    </div>
    <ul v-if="errors && errors.length">
      <li v-for="error of errors">
        {{error.message}}
      </li>
    </ul>
    <form v-on:submit.prevent="save">
      <p>Title: <input type="text" name="title" v-model="title" required="Need title"></p>
      <p>Year: <input type="text" name="year" v-model="year"></p>
      <p>Genre: <input type="text" name="genre" v-model="genre"></p>
      <p><input type="submit" value="Create"></p>
    </form>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'MoviesCreate',

    data () {
      return {
        message: '',
        title: '',
        year: '',
        genre: '',
        errors: []
      }
    },

    methods: {
      save () {
        axios.post('http://localhost:8000/api/movies', {
          title: this.title,
          year: this.year,
          genre: this.genre
        })
        .then(response => {
          this.message = response.data
          this.title = ''
          this.year = ''
          this.genre = ''
          this.$router.push('/')
        })
        .catch(e => {
          this.errors.push(e)
        })
      }
    }
  }
</script>
