<template>
  <div class="movies">
    <h1>Movies</h1>
    <router-link to="/movies/create">New</router-link>
    <router-link to="/">Back</router-link>
    <div>
      {{ message }}
    </div>
    <ul v-if="errors && errors.length">
      <li v-for="error of errors">
        {{error.message}}
      </li>
    </ul>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(movie, index) in movies" :key='index'>
        <td v-show="movie.year == 2017">{{ movie.title }}</td>
        <td v-show="movie.year == 2017">{{ movie.year }}</td>
        <td v-show="movie.year == 2017">{{ movie.genre }}</td>
        <td v-show="movie.year == 2017">
          <button @click="remove(movie.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(movie, index) in movies" :key='index'>
        <td v-show="movie.year != 2017">{{ movie.title }}</td>
        <td v-show="movie.year != 2017">{{ movie.year }}</td>
        <td v-show="movie.year != 2017">{{ movie.genre }}</td>
        <td v-show="movie.year != 2017">
          <button @click="remove(movie.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'MoviesYears',
    data () {
      return {
        movies: [],
        message: '',
        errors: []
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/movies')
          .then(response => {
            this.movies = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      },

      remove (id) {
        if (confirm('Delete?')) {
          axios.delete('http://localhost:8000/api/movies/' + id)
            .then(response => {
              this.message = response.data

              this.movies = this.movies.filter(function (obj) {
                return obj.id !== id
              })
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      }
    }

  }
</script>

<style>
  table {
    width: 100%;
  }
  tbody {
    text-align: left;
  }
  .movies {
    border-top: 1px solid #dddddd;
  }
</style>
